[submodule "uncertainty_quant_peract"]
	path = uncertainty_quant_peract
	url = https://github.com/BobWu1998/uncertainty_quant_peract.git

[submodule "uncertainty_quant_peract/PyRep"]
	path = uncertainty_quant_peract/PyRep
	url = https://github.com/stepjam/PyRep.git

# [submodule "uncertainty_quant_peract/YARR"]
# 	path = uncertainty_quant_peract/YARR
# 	url = https://github.com/BobWu1998/YARR.git
# 	branch = peract
# [submodule "uncertainty_quant_peract/peract_reliability"]
# 	path = uncertainty_quant_peract/peract_reliability
# 	url = https://github.com/BobWu1998/peract_reliability.git
# 	branch = temperature_scaling

[submodule "uncertainty_quant_rvt"]
	path = uncertainty_quant_rvt
	url = https://github.com/BobWu1998/uncertainty_quant_rvt.git
[submodule "uncertainty_quant_cliport"]
	path = uncertainty_quant_cliport
	url = https://github.com/BobWu1998/uncertainty_quant_cliport.git
[submodule "PyRep"]
	path = PyRep
	url = https://github.com/stepjam/PyRep.git
